.faq-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 15px;
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  /* background-color: #fff; */
}

.faq-title {
  /* background-color: #fff; */
  color: #016bb4;
  text-align: center;
  text-transform: uppercase;
  padding: 16px;
  font-size: clamp(18px, 1.5vw, 24px) !important;
  font-weight: 700;
}

.faq-item {
  border-bottom: 1px solid #fff;
  margin-bottom: 10px;
}

.faq-question {
  display: flex;
  align-items: center;
  padding: 16px 10px;
  /* background-color: #fff; */
  cursor: pointer;
  transition: background 0.3s;
}

.faq-question:hover {
  background-color: #fff;
}

.faq-number {
  width: 30px;
  height: 30px;
  background-color: #016bb4;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  line-height: 30px;
  margin-right: 16px;
  border-radius: 4px;
}

.faq-text {
  flex: 1;
  color: #016bb4;
  font-size: 16px;
  font-weight: 500;
  text-align: justify;
}

.faq-icon {
  font-size: 20px;
  color: #016bb4;
  margin-left: 10px;
}

.faq-answer {
  padding: 0 66px 16px 66px;
  text-align: justify;
  font-size: 15px;
  color: #016bb4;
  font-weight: 400;
  line-height: 1.6;
  padding-top: 10px;
  background-color: #fff;
}
