.faq-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 40px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff;
}

.faq-title {
  background-color: #fff;
  color: #016bb4;
  text-align: center;
  padding: 16px;
  font-size: 26px;
  font-weight: bold;
}

.faq-item {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

.faq-question {
  display: flex;
  align-items: center;
  padding: 16px 10px;
  background-color: #fff;
  cursor: pointer;
  transition: background 0.3s;
}

.faq-question:hover {
  background-color: #f1f1f1;
}

.faq-number {
  width: 50px;
  height: 50px;
  background-color: #016bb4;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  margin-right: 16px;
  border-radius: 4px;
}

.faq-text {
  flex: 1;
  font-size: 16px;
  font-weight: 500;
}

.faq-icon {
  font-size: 20px;
  color: #016bb4;
  margin-left: 10px;
}

.faq-answer {
  padding: 0 66px 16px 66px;
  font-size: 15px;
  color: #000;
  line-height: 1.6;
}
