/* INTRODUCTION CONTAINER */
.intro-container {
  padding: 25px;
  font-family: Arial, sans-serif;
  max-width: 1500px;
  margin: 0 auto;
}

.intro-section {
  margin-bottom: 50px;
}

.intro-title {
  color: #016bb4 !important;
  font-size: clamp(
    16px,
    5vw,
    26px
  ) !important; /* Tự động điều chỉnh kích thước chữ */
  margin-bottom: 16px;
  line-height: 1;
  white-space: normal;
  word-break: break-word;
  overflow-wrap: break-word;
  display: inline-block;
}

.intro-paragraph {
  text-align: justify;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  max-width: 900px;
  margin: 0 auto;
}

.intro-paragraph-more {
  max-width: 900px;
  margin: 16px auto 0;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.intro-paragraph-more.hide {
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.intro-paragraph-more.show {
  height: auto;
  opacity: 1;
  visibility: visible;
}

.intro-toggle {
  color: #016bb4;
  cursor: pointer;
  margin: 16px auto;
  font-weight: bold;
  display: flex;
  gap: 8px;
}

.intro-features .feature-icon {
  font-size: 35px;
  margin-bottom: 10px;
  color: #016bb4;
}

.feature-item {
  text-align: center;
}
.feature-item .feature-title {
  text-transform: uppercase;
  font-size: 18px;
  color: #016bb4;
}
.feature-paragraph {
  text-align: justify;
  font-size: 16px;
  color: #000;
  margin-top: 8px;
  line-height: 1.5;
}

/* IMAGE SIDE */
.intro-image {
  padding-top: 20px;
}

/* STATISTIC SECTION */
.intro-statistics {
  margin-top: 50px;
}

.statistic-card {
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: none;
  height: 100%;
}

.stat-icon {
  color: #016bb4;
  font-size: 40px;
  margin-bottom: 8px;
}

.stat-card .ant-statistic-title {
  color: #016bb4;
}

.stat-card .ant-statistic-content {
  color: #016bb4;
  font-weight: bold;
}

.stat-card p {
  min-height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
/* chi nhánh - dự án - nhân viên - khách hàng  */
.statistic-paragraph {
  text-align: justify;
  text-align: center;
  font-size: 14px;
  color: #000000;
  margin-top: 8px;
}

.stat-card {
  display: flex;
  justify-content: center;
}

.statistic-card {
  width: 100%;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  border-radius: 12px;
  padding: 5px 6px;
  transition: transform 0.3s ease;
  background-color: #fff;
}

.statistic-card:hover {
  transform: translateY(-5px);
}

.stat-icon {
  font-size: 32px;
  color: #016bb4;
}

.statistic-title .ant-statistic-title {
  font-weight: bold;
  color: #016bb4;
}

.statistic-paragraph {
  font-size: 14px;
  line-height: 1.6;
  color: #555;
  text-align: justify;
  margin-top: 12px;
}

/* RESPONSIVE BANNER */
.responsive-banner {
  object-fit: cover;
  display: block;
}
