.edit-cate-container {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.edit-cate-container h2 {
  text-align: center;
  color: #096cb5;
}
.edit-cate-form label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
}

.edit-cate-form input,
.edit-cate-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  justify-content: center;
}

.btn {
  padding: 10px 18px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.save-btn {
  background: #4caf50;
  color: white;
}

.cancel-btn {
  background: #f44336;
  color: white;
}
