.kasai-intro-container {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f5f9ff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.kasai-intro-title {
  font-size: 28px;
  color: #014d91;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.kasai-intro-text {
  font-size: 16px;
  line-height: 1.8;
  color: #333;
  margin-bottom: 16px;
  text-align: justify;
}

.highlight-kasai {
  color: #016bb4;
  font-weight: bold;
}
.pcd-commitment-container {
  max-width: 1000px;
  margin: 50px auto;
  padding: 10px 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
}

.pcd-commitment-title {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: #014d91;
  margin-bottom: 20px;
}

.pcd-commitment-intro {
  font-size: 16px;
  line-height: 1.7;
  color: #333;
  margin-bottom: 24px;
  text-align: justify;
}

.pcd-benefit {
  margin-bottom: 20px;
}

.pcd-benefit h4 {
  color: #016bb4;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.pcd-benefit p {
  font-size: 15px;
  line-height: 1.7;
  color: #444;
  text-align: justify;
}

.highlight-pcd {
  color: #016bb4;
  font-weight: bold;
}

.pcd-process-title {
  font-size: 22px;
  color: #014d91;
  margin-top: 40px;
  font-weight: bold;
  text-align: center;
}

.pcd-process-list {
  list-style: decimal inside;
  padding-left: 0;
  color: #333;
  font-size: 15px;
  line-height: 1.8;
}

.pcd-process-list .pcd-process-item {
  margin-bottom: 14px;
  text-align: justify;
}

.pcd-process-list .pcd-process-item strong {
  font-weight: bold !important;
  color: #014d91;
}
